@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Sniglet:800);

html, body, div, span, h1, h2, h3, h4, h5, h6, p
	{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { padding: 0.5em; color: #000; background: #fff; font-family: arial, helvetica, sans-serif; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 8px; font-family: 'Sniglet', georgia, "Times New Roman", serif; }
h1 { font-size: 2.1em; }
p { margin-bottom: 8px; }
a:link, a:visited { color: maroon; text-decoration: underline; }
a:active, a:hover { text-decoration: none; }
code { display: block; white-space: pre; line-height: 1; }
li > code { display: inline; }

.letterpop { font-size: 2em; text-align: center; }
.letterpop_letter { display: inline-block; min-width: 14px; margin: 0 1px; padding: 0 4px; border-radius: 14px; color: #fff; background: #000; }
.letterpop_popper { min-width: 14px; padding: 0 4px; border-radius: 14px; color: #fff; background: maroon; }
.letterpop_hover { cursor: crosshair; background: maroon; }